<div class="starter-home" ibmGrid>
	<div class="body-text" ibmRow>
		<div ibmCol [columnNumbers]="{'lg': 12, 'md': 12, 'sm': 12}">
			<img src="../../../assets/banner.jpg" style="width: 100%;height: 50%;margin-top:-40px" />
		</div>
	</div>
	<div style="background-color: lightgray; height: 60px;margin-top:-320px">
		<p style="position:absolute;left: 80px;padding: 10px;">Please note that field in "*" are required </p>
		<div style="position:absolute;right:120px;padding:10px">

			<button ibmButton="secondary" size="sm" style="text-align:center;width:10px;margin-right:10px;padding-left: 15px;
			padding-right: 40px">Edit</button>
			<button ibmButton="primary" size="sm" style="text-align:center;width: 10px;margin-left:10px;padding-left: 15px;
			padding-right: 45px" (click)="onSave()">Save</button>
		</div>

	</div>
	<div>
		<ibm-content-switcher (selected)="selected($event)">
			<button ibmContentOption name="First">Product defination</button>
			<button ibmContentOption name="Second">Package details</button>
			<button ibmContentOption name="Third">Environmental report card</button>
			<button ibmContentOption name="Fourth">EU Directive 94/62/EC</button>
			<button ibmContentOption name="Fifth">File Attachments</button>
		</ibm-content-switcher>
	</div>
	<ng-container [ngSwitch]="activeTab">
		<ng-container *ngSwitchCase="'First'" [ngTemplateOutlet]="First"></ng-container>
		<ng-container *ngSwitchCase="'Second'" [ngTemplateOutlet]="Second"></ng-container>
		<ng-container *ngSwitchCase="'Third'" [ngTemplateOutlet]="Third"></ng-container>
		<ng-container *ngSwitchCase="'Fourth'" [ngTemplateOutlet]="Fourth"></ng-container>
		<ng-container *ngSwitchCase="'Fifth'" [ngTemplateOutlet]="Fifth"></ng-container>
	</ng-container>

	<ng-template #First>
		<div>
			<h1>First Tab nothing to display</h1>
		</div>
	</ng-template>

	<ng-template #Second>
		<app-product-details></app-product-details>
	</ng-template>

	<ng-template #Third>
		<div ibmGrid style="padding-top: 50px;">
			<div ibmRow gutter=true leftGutter=true rightGutter=true condensed=false>
				<div ibmCol class="custom-class-example" [columnNumbers]="{'lg':4,'md': 2, 'sm': 12}">
					<div>
						<h5 style="font-size-adjust: 10px;">Select all the material used in this package assembly *</h5>
					</div>
					<div>
						<fieldset class="bx--fieldset">
							<ibm-checkbox *ngFor="let material of tableCheckBox" (change)="onCheckPackage($event,1)">
								<!-- Corrugated(20) -->
								{{material}}
							</ibm-checkbox>
							<!-- <ibm-checkbox (change)="onCheckPackage($event,1)">
								Paper(22)
							</ibm-checkbox>
							<ibm-checkbox (change)="onCheckPackage($event,1)">
								Processed Wood(plywood/masonite/OSB/etc)
							</ibm-checkbox>
							<ibm-checkbox (change)="onCheckPackage($event,1)">
								Wood(50)
							</ibm-checkbox>
							<ibm-checkbox (change)="onCheckPackage($event,1)">
								High density polyethylene HDPE(2)
							</ibm-checkbox>
							<ibm-checkbox (change)="onCheckPackage($event,1)">
								Low density polyethylene LDPE(4)
							</ibm-checkbox>
							<ibm-checkbox (change)="onCheckPackage($event,1)">
								Expanded polyethylene EPE(4)
							</ibm-checkbox>
							<ibm-checkbox (change)="onCheckPackage($event,1)">
								Expanded polypropylene EPP(4)
							</ibm-checkbox>
							<ibm-checkbox (change)="onCheckPackage($event,1)">
								Polypropylene PP(5)
							</ibm-checkbox>
							<ibm-checkbox (change)="onCheckPackage($event,1)">
								Expanded polystyrene/arcel EPS(6)
							</ibm-checkbox>
							<ibm-checkbox (change)="onCheckPackage($event,1)">
								Polyurethane PU(7)
							</ibm-checkbox> -->
						</fieldset>
					</div>
				</div>
				<div ibmCol class="custom-class-example" [columnNumbers]="{'lg':1,'md': 2, 'sm': 12}" style="border-left: 2px solid lightgray;
					height: 500px;"></div>
				<div ibmCol class="custom-class-example" [columnNumbers]="{'lg':7,'md': 2, 'sm': 12}"
					style="margin-left: -100px;">
					<p style="text-align: justify;padding-bottom: 10px;">1. Lorem Ipsum is simply dummy text of the
						printing and typesetting industry. Lorem Ipsum </p>
					<p style="text-align: justify; padding-bottom: 10px;"> 2. Contrary to popular belief, Lorem Ipsum is
						not simply random text. It has roots in a piece of
						classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a
						Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin
						words</p>
					<p style="text-align: justify; padding-bottom: 10px;">Lorem Ipsum comes from sections 1.10.32 and
						1.10.33 of "de Finibus Bonorum et Malorum" (The
						Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of
						ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor
						sit amet..", comes from a line in section 1.10.32.</p>
					<p style="padding-top: 10px;"><a href="#">Click here to access Spec #5897660</a></p>
					<p><a href="#">Click here to access Spec #5897660</a></p>
					<p style="text-align: justify;padding-top: 10px;">* Lorem Ipsum comes from sections 1.10.32 and
						1.10.33 of de Finibus Bonorum et Malorum</p>
					<div style="padding-top: 10px;
					padding-bottom: 20px;">
						<ibm-select class='bx--select' display="inline" style="width:100%">
							<option value="Chlorine bleaching restrictions" selected>Chlorine bleaching restrictions
							</option>
							<option value="Chlorine bleaching restrictions1">Chlorine bleaching restrictions2</option>
							<option value="Chlorine bleaching restrictions2">Chlorine bleaching restrictions3</option>
							<option value="Chlorine bleaching restrictions3">Chlorine bleaching restrictions4</option>
							<option value="Chlorine bleaching restrictions4">Chlorine bleaching restrictions5</option>
						</ibm-select>
					</div>
					<div>
						<ibm-table style="display: block; width: 100%;" [model]="model" [size]="size"></ibm-table>
					</div>
				</div>
			</div>
		</div>
	</ng-template>

	<ng-template #customSVHC let-data="data">
		<ibm-radio-group aria-label="radiogroup" [(ngModel)]="radio" (change)="onSVHCChange($event,data)">
			<ibm-radio value="Yes">
				Yes
			</ibm-radio>
			<ibm-radio value="No">
				No
			</ibm-radio>
		</ibm-radio-group>
	</ng-template>
	<ng-template #customSNUR let-data="data">
		<ibm-radio-group aria-label="radiogroup" [(ngModel)]="radio" (change)="onSNURChange($event,data)">
			<ibm-radio value="Yes">
				Yes
			</ibm-radio>
			<ibm-radio value="No">
				No
			</ibm-radio>
		</ibm-radio-group>
	</ng-template>

	<ng-template #customFormTemplate>
		<ibm-label>
			<input ibmText name="">
		</ibm-label>
	</ng-template>

	<ng-template #Fourth>
		<div>
			<h1>Hello 4</h1>
		</div>
	</ng-template>
	<ng-template #Fifth>
		<div>
			<h1>Hello 5</h1>
		</div>
	</ng-template>
	<ng-template #Sixth>
		<div>
			<h1>Hello 6</h1>
		</div>
	</ng-template>
	

	


</div>